In [1]:
import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [2]:
dec = pd.read_csv("Resources/original_data/201912-citibike-tripdata.csv")
jan = pd.read_csv("Resources/original_data/202001-citibike-tripdata.csv")

In [3]:
dec["period"] = "Dec-19"
jan["period"] = "Jan-20"
seasonal_df = pd.concat([dec, jan], ignore_index=True)
print(seasonal_df.shape)
seasonal_df.head()

(2195806, 16)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,period
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1,Dec-19
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1,Dec-19
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1,Dec-19
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1,Dec-19
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1,Dec-19

## Clean data 1: check NA values

In [4]:
seasonal_df.isna().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
period                     0
dtype: int64

## Clean data 2: ensure station id/name/geocode consistent

In [5]:
# check start station first
seasonal_df[["start station id", "start station name","start station latitude", "start station longitude"]].nunique()

start station id           895
start station name         897
start station latitude     927
start station longitude    922
dtype: int64

In [6]:
# there is some inconsistency for the station info, and shows that for each station id, several geocodes availble
# below to check details:
start_station_df = seasonal_df.groupby("start station id")[["start station name","start station latitude", "start station longitude"]].agg({"start station name":pd.Series.nunique,"start station latitude": pd.Series.nunique,
                                   "start station longitude": pd.Series.nunique})
start_station_df

,start station name,start station latitude,start station longitude
start station id,,,
72,1,1,1
79,1,1,1
82,1,1,1
83,1,1,1
116,1,1,1
119,1,1,1
120,1,1,1
127,1,1,1
128,1,1,1
143,1,1,1
144,1,1,1
146,1,1,1
150,1,1,1
151,1,1,1
157,1,1,1
161,1,1,1
164,1,1,1
167,1,2,2
168,1,1,1
173,1,1,1
174,1,1,1
195,1,1,1
212,1,1,1
216,1,1,1
217,1,1,1
223,1,1,1
224,1,1,1
228,1,1,1
229,1,1,1
236,1,1,1
237,1,1,1
238,1,1,1
239,1,1,1
241,1,1,1
242,1,1,1
243,1,1,1
244,1,1,1
245,1,1,1
247,1,1,1
248,1,1,1
249,1,1,1
250,1,1,1
251,1,2,2
252,1,1,1
254,1,1,1
257,1,2,2
258,1,1,1
259,1,1,1
260,1,1,1
261,1,1,1
262,1,1,1
264,1,1,1
265,1,1,1
266,2,1,1
267,1,2,2
268,1,1,1
270,1,1,1
274,1,1,1
275,1,1,1
276,1,1,1
278,1,1,1
279,1,1,1
280,1,1,1
281,1,2,2
282,1,1,1
284,1,1,1
285,1,2,2
289,1,1,1
291,1,1,1
293,1,2,2
295,1,1,1
296,1,1,1
297,1,2,2
298,1,1,1
301,1,1,1
302,1,1,1
303,1,1,1
304,1,1,1
305,1,2,2
307,1,1,1
308,1,1,1
309,1,1,1
310,1,1,1
311,1,1,1
312,1,1,1
313,1,1,1
315,1,1,1
316,1,2,2
317,1,1,1
319,1,1,1
320,1,1,1
321,1,1,1
323,1,1,1
324,1,1,1
325,1,1,1
326,1,1,1
327,1,2,2
328,1,1,1
330,1,1,1
331,1,1,1
332,1,1,1
334,1,2,2
335,1,2,2
336,1,1,1
337,1,1,1
339,1,1,1
340,1,1,1
341,1,1,1
342,1,1,1
343,1,1,1
344,1,1,1
346,1,2,2
347,1,1,1
349,1,1,1
350,1,1,1
351,1,1,1
353,1,1,1
354,1,1,1
355,1,1,1
356,1,1,1
358,1,2,2
359,1,2,2
360,1,1,1
361,1,2,2
362,1,2,2
363,1,1,1
364,1,1,1
366,1,1,1
367,1,1,1
368,1,1,1
369,1,1,1
372,1,1,1
373,1,1,1
376,1,1,1
377,1,1,1
379,1,2,2
380,1,1,1
383,1,1,1
385,1,1,1
386,1,1,1
387,1,1,1
388,1,1,1
389,1,1,1
390,1,2,2
391,1,2,2
392,1,1,1
393,1,1,1
394,1,1,1
396,1,1,1
397,1,1,1
398,1,1,1
399,1,1,1
400,1,1,1
401,1,2,2
402,1,1,1
403,1,1,1
405,1,1,1
406,1,1,1
408,1,1,1
410,1,1,1
411,1,1,1
412,1,1,1
415,1,1,1
416,1,1,1
417,1,1,1
418,1,1,1
419,1,1,1
420,1,1,1
421,1,1,1
422,1,2,2
423,1,1,1
426,1,1,1
427,1,1,1
432,1,1,1
434,1,2,2
435,1,1,1
436,1,1,1
437,1,1,1
438,1,1,1
439,1,1,1
440,1,1,1
442,1,1,1
443,1,1,1
445,1,1,1
446,1,1,1
447,1,1,1
448,1,2,2
450,1,2,2
453,1,2,2
454,1,1,1
455,1,1,1
456,1,1,1
458,1,1,1
459,1,2,2
460,1,1,1
461,1,2,2
462,1,1,1
464,1,1,1
465,1,1,1
466,1,1,1
467,1,1,1
468,1,2,2
469,1,1,1
470,1,1,1
471,1,1,1
472,1,1,1
473,1,1,1
474,1,2,2
476,1,2,2
477,1,2,2
478,1,2,2
479,1,1,1
480,1,1,1
481,1,1,1
482,1,2,2
483,1,1,1
484,1,1,1
485,1,2,2
486,1,1,1
487,1,2,2
489,1,1,1
490,1,2,2
491,1,2,2
492,1,1,1
493,1,1,1
494,1,2,2
495,1,1,1
496,1,2,2
497,1,2,2
499,1,1,1
500,1,1,1
501,1,1,1
502,1,1,1
503,1,2,2
504,1,2,2
505,1,2,2
507,1,1,1
508,1,2,2
509,1,1,1
513,1,2,2
514,1,1,1
515,1,2,2
516,1,1,1
517,1,2,2
518,1,1,1
519,1,2,2
520,1,1,1
522,1,1,1
523,1,2,2
525,1,2,2
526,1,2,2
528,1,2,2
529,1,1,1
530,1,1,1
531,1,1,1
532,1,1,1
533,1,1,1
534,1,1,1
536,1,1,1
539,1,1,1
540,1,1,1
545,1,2,2
546,1,2,2
2000,1,1,1
2002,1,2,2
2003,1,1,1
2005,1,1,1
2006,1,2,2
2008,1,1,1
2009,1,1,1
2010,1,1,1
2012,1,1,1
2017,1,1,1
2021,1,1,1
2022,1,1,1
3002,1,1,1
3016,1,1,1
3041,1,1,1
3042,1,1,1
3043,1,1,1
3044,1,1,1
3046,1,1,1
3047,1,1,1
3048,1,1,1
3049,1,1,1
3050,1,1,1
3052,1,1,1
3053,1,1,1
3054,1,1,1
3055,1,1,1
3056,1,2,2
3057,1,2,2
3058,1,1,1
3059,1,1,1
3060,1,1,1
3061,1,1,1
3062,1,2,2
3063,1,1,1
3064,1,1,1
3065,1,1,1
3066,1,1,1
3067,1,1,1
3068,1,1,1
3069,1,1,1
3070,1,1,1
3071,1,1,1
3072,1,1,1
3074,1,1,1
3075,1,1,1
3076,1,1,1
3077,1,2,2
3078,1,1,1
3080,1,1,1
3081,1,1,1
3082,1,1,1
3083,1,1,1
3085,1,1,1
3086,1,1,1
3087,1,1,1
3088,1,1,1
3092,1,2,2
3093,1,2,2
3094,1,1,1
3095,1,1,1
3096,1,1,1
3100,1,2,2
3101,1,1,1
3102,1,1,1
3105,1,1,1
3106,1,2,2
3107,1,2,2
3108,1,1,1
3109,1,1,1
3110,1,2,2
3112,1,1,1
3113,1,2,2
3115,1,1,1
3116,1,1,1
3117,1,1,1
3118,1,1,1
3119,1,1,1
3121,1,1,1
3122,1,2,2
3123,1,2,2
3124,1,1,1
3125,1,2,2
3126,1,2,2
3127,1,1,1
3128,1,1,1
3129,1,1,1
3130,1,1,1
3131,1,1,1
3132,1,2,2
3134,1,1,1
3135,1,1,1
3136,1,1,1
3137,1,1,1
3139,1,1,1
3140,1,1,1
3141,1,1,1
3142,1,2,2
3143,1,1,1
3144,1,1,1
3145,1,1,1
3146,1,1,1
3147,1,1,1
3148,1,1,1
3150,1,1,1
3151,1,1,1
3152,1,1,1
3154,1,1,1
3156,1,1,1
3157,1,1,1
3158,1,1,1
3159,1,1,1
3160,1,1,1
3161,1,1,1
3162,1,1,1
3163,1,1,1
3164,1,1,1
3165,1,1,1
3166,1,2,2
3167,1,1,1
3168,1,1,1
3169,1,1,1
3170,1,1,1
3171,1,1,1
3172,1,1,1
3173,1,1,1
3175,1,2,2
3177,1,1,1
3178,1,1,1
3179,1,1,1
3221,1,1,1
3226,1,1,1
3231,1,1,1
3232,1,1,1
3233,1,2,2
3235,1,1,1
3236,1,1,1
3241,1,1,1
3242,1,2,2
3243,1,1,1
3244,1,1,1
3246,1,1,1
3249,1,1,1
3255,1,1,1
3256,1,1,1
3259,1,1,1
3260,1,1,1
3263,1,2,2
3282,1,1,1
3283,1,1,1
3284,1,1,1
3285,1,1,1
3286,1,1,1
3287,1,1,1
3288,1,1,1
3289,1,1,1
3290,1,1,1
3292,1,1,1
3293,1,1,1
3294,1,1,1
3295,1,2,2
3296,1,1,1
3297,1,1,1
3298,1,1,1
3299,1,1,1
3300,1,1,1
3301,1,2,2
3302,1,1,1
3303,1,1,1
3304,1,1,1
3305,1,2,2
3306,1,1,1
3307,1,1,1
3308,1,1,1
3309,1,1,1
3310,1,1,1
3311,1,1,1
3312,1,1,1
3313,1,1,1
3314,1,1,1
3315,1,1,1
3317,1,1,1
3318,1,1,1
3319,1,1,1
3320,1,1,1
3321,1,1,1
3322,1,1,1
3323,1,1,1
3324,1,1,1
3325,1,1,1
3326,1,1,1
3327,1,1,1
3328,1,1,1
3329,1,1,1
3330,1,1,1
3331,1,1,1
3332,1,1,1
3333,1,1,1
3335,1,1,1
3336,1,1,1
3337,1,1,1
3338,1,1,1
3339,1,1,1
3340,1,1,1
3341,1,1,1
3342,1,1,1
3343,1,2,2
3344,1,1,1
3345,1,2,2
3346,1,1,1
3347,1,1,1
3348,1,1,1
3349,1,1,1
3350,1,2,2
3351,1,1,1
3352,1,1,1
3354,1,1,1
3355,1,1,1
3356,1,1,1
3357,1,1,1
3358,1,1,1
3359,1,1,1
3360,1,1,1
3361,1,1,1
3362,1,1,1
3363,1,1,1
3364,1,1,1
3365,1,1,1
3366,1,1,1
3367,1,2,2
3368,1,1,1
3369,1,1,1
3370,1,1,1
3372,1,1,1
3373,1,1,1
3374,1,2,2
3375,1,1,1
3376,1,1,1
3377,1,1,1
3378,1,1,1
3379,1,1,1
3381,1,1,1
3382,1,2,2
3383,1,1,1
3384,1,1,1
3386,1,1,1
3387,1,1,1
3388,1,1,1
3389,1,1,1
3390,1,1,1
3391,1,1,1
3392,1,1,1
3393,1,1,1
3394,1,1,1
3395,1,1,1
3396,1,1,1
3397,1,1,1
3398,1,1,1
3399,1,1,1
3400,1,1,1
3402,1,1,1
3403,1,1,1
3404,1,1,1
3405,1,1,1
3407,1,1,1
3408,1,1,1
3409,1,1,1
3410,1,1,1
3411,1,1,1
3412,1,1,1
3413,1,1,1
3414,1,1,1
3415,1,1,1
3416,1,1,1
3417,1,1,1
3418,1,1,1
3419,1,1,1
3420,1,1,1
3422,1,1,1
3423,1,1,1
3424,1,1,1
3425,1,1,1
3429,1,1,1
3430,1,1,1
3435,1,1,1
3437,1,1,1
3440,1,1,1
3441,1,1,1
3443,1,2,2
3452,1,1,1
3453,1,1,1
3454,1,1,1
3456,1,1,1
3457,1,1,1
3461,1,1,1
3463,1,1,1
3467,1,1,1
3469,1,1,1
3472,1,1,1
3477,2,1,1
3478,2,1,1
3486,1,1,1
3490,1,1,1
3491,1,1,1
3492,1,1,1
3493,1,1,1
3494,1,1,1
3495,1,1,1
3496,1,1,1
3497,1,1,1
3498,1,1,1
3499,1,1,1
3500,1,1,1
3501,1,1,1
3502,1,1,1
3503,1,1,1
3504,1,1,1
3505,1,1,1
3506,1,1,1
3507,1,1,1
3508,1,1,1
3509,1,1,1
3510,1,1,1
3511,1,1,1
3513,1,1,1
3514,1,1,1
3515,1,1,1
3516,1,1,1
3517,1,1,1
3518,1,1,1
3520,1,1,1
3521,1,1,1
3522,1,1,1
3523,1,1,1
3524,1,1,1
3525,1,1,1
3526,1,1,1
3527,1,1,1
3528,1,1,1
3529,1,1,1
3530,1,1,1
3531,1,1,1
3532,1,1,1
3533,1,1,1
3534,1,1,1
3535,1,1,1
3536,1,1,1
3537,1,1,1
3538,1,1,1
3539,1,1,1
3540,1,1,1
3541,1,1,1
3542,1,2,2
3543,1,1,1
3544,1,1,1
3545,1,1,1
3546,1,1,1
3547,1,1,1
3549,1,1,1
3551,1,1,1
3552,1,1,1
3553,1,2,2
3554,1,1,1
3555,1,1,1
3556,1,1,1
3557,1,1,1
3558,1,1,1
3559,1,1,1
3561,1,1,1
3562,1,1,1
3563,1,1,1
3564,1,1,1
3565,1,1,1
3566,1,1,1
3567,1,1,1
3568,1,1,1
3569,1,1,1
3570,1,1,1
3571,1,1,1
3572,1,1,1
3573,1,1,1
3574,1,1,1
3575,1,1,1
3576,1,1,1
3577,1,1,1
3578,1,1,1
3579,1,1,1
3580,1,1,1
3581,1,1,1
3582,1,1,1
3583,1,1,1
3584,1,1,1
3585,1,1,1
3586,1,1,1
3587,1,1,1
3588,1,1,1
3589,1,1,1
3590,1,1,1
3591,1,1,1
3592,1,1,1
3593,1,1,1
3595,1,1,1
3596,1,1,1
3597,1,1,1
3598,1,1,1
3599,1,1,1
3601,1,1,1
3602,1,1,1
3603,1,1,1
3604,1,1,1
3605,1,1,1
3606,1,2,2
3607,1,1,1
3608,1,1,1
3609,1,1,1
3610,1,1,1
3611,1,1,1
3612,1,1,1
3613,1,2,2
3614,1,1,1
3615,1,1,1
3616,1,1,1
3617,1,1,1
3618,1,1,1
3619,1,1,1
3620,1,1,1
3621,1,1,1
3622,1,1,1
3623,1,1,1
3628,1,1,1
3629,1,1,1
3630,1,2,2
3637,1,1,1
3641,1,1,1
3646,1,1,1
3647,1,1,1
3648,1,1,1
3649,1,1,1
3654,1,1,1
3656,1,2,2
3658,1,1,1
3661,1,1,1
3662,1,1,1
3664,1,1,1
3668,1,2,2
3671,1,1,1
3673,1,1,1
3674,1,1,1
3676,1,1,1
3680,1,1,1
3686,1,1,1
3687,1,1,1
3689,1,1,1
3690,1,2,2
3691,1,1,1
3692,1,1,1
3693,1,1,1
3697,1,1,1
3699,1,1,1
3704,1,1,1
3707,1,1,1
3708,1,1,1
3709,1,1,1
3711,1,2,2
3712,1,1,1
3714,1,1,1
3715,1,2,2
3716,1,1,1
3718,1,1,1
3720,1,1,1
3721,1,1,1
3723,1,1,1
3724,1,1,1
3725,1,1,1
3726,1,1,1
3727,1,1,1
3728,1,1,1
3731,1,1,1
3733,1,1,1
3734,1,1,1
3736,1,1,1
3737,1,1,1
3738,1,1,1
3739,1,1,1
3740,1,1,1
3744,1,1,1
3745,1,1,1
3746,1,1,1
3749,1,1,1
3755,1,1,1
3756,1,1,1
3757,1,1,1
3758,1,1,1
3759,1,2,2
3760,1,1,1
3761,1,1,1
3762,1,1,1
3763,1,1,1
3764,1,1,1
3765,1,1,1
3766,1,1,1
3767,1,1,1
3768,1,1,1
3769,1,1,1
3770,1,1,1
3771,1,1,1
3772,1,1,1
3773,1,1,1
3774,1,1,1
3775,1,1,1
3776,1,1,1
3777,1,1,1
3778,1,1,1
3779,1,1,1
3780,1,1,1
3781,1,1,1
3782,1,1,1
3783,1,1,1
3785,1,1,1
3786,1,1,1
3787,1,1,1
3788,1,1,1
3789,1,1,1
3790,1,1,1
3793,1,1,1
3795,1,1,1
3798,1,1,1
3799,1,1,1
3803,1,1,1
3804,1,1,1
3809,1,1,1
3810,1,1,1
3811,1,1,1
3812,1,1,1
3814,1,1,1
3815,1,1,1
3816,1,1,1
3817,1,1,1
3818,1,1,1
3819,1,1,1
3820,1,1,1
3821,1,2,2
3822,1,1,1
3823,1,1,1
3824,1,1,1
3825,1,1,1
3826,1,1,1
3827,1,1,1
3828,1,1,1
3829,1,1,1
3830,1,1,1
3831,1,1,1
3832,1,1,1
3833,1,1,1
3834,1,1,1
3835,1,1,1
3836,1,1,1
3837,1,1,1
3838,1,1,1
3839,1,1,1
3840,1,1,1
3841,1,1,1
3842,1,1,1
3843,1,1,1
3844,1,1,1
3845,1,1,1
3846,1,1,1
3847,1,1,1
3848,1,1,1
3849,1,1,1
3850,1,1,1
3851,1,1,1
3852,1,1,1
3853,1,1,1
3854,1,2,2
3855,1,1,1
3856,1,1,1
3857,1,1,1
3858,1,1,1
3859,1,1,1
3860,1,1,1
3861,1,1,1
3862,1,1,1
3863,1,1,1
3864,1,1,1
3865,1,1,1
3866,1,1,1
3867,1,1,1
3868,1,1,1
3869,1,1,1
3870,1,1,1
3871,1,1,1
3872,1,1,1
3873,1,1,1
3874,1,1,1
3875,1,1,1
3876,1,1,1
3877,1,1,1
3878,1,1,1
3879,1,1,1
3880,1,1,1
3881,1,1,1
3882,1,1,1
3883,1,1,1
3884,1,1,1
3885,1,1,1
3886,1,1,1
3887,1,1,1
3888,1,1,1
3890,1,1,1
3891,1,1,1
3892,1,1,1
3893,1,1,1
3895,1,1,1
3896,1,1,1
3897,1,1,1
3898,1,1,1
3899,1,1,1
3900,1,1,1
3901,1,1,1
3902,1,1,1
3903,1,1,1
3905,1,1,1
3907,1,1,1
3908,1,1,1
3909,1,1,1
3910,1,1,1
3911,1,1,1
3912,1,1,1
3916,1,1,1
3917,1,1,1
3918,1,1,1

In [17]:
# find an exmaple to see how to deal with different lat & long
test = seasonal_df.loc[seasonal_df["start station id"] == 251]
test[["start station latitude", "start station longitude"]].value_counts()

start station latitude  start station longitude
40.72318                -73.9948                   5098
40.72200                -73.9950                      2
dtype: int64

In [22]:
# the above example shows that likely the fact of several geocodes may not impact the results
# loop through all stations with the same case to check whether i
# if no is not big, leave it as it is
def check_station(id):
    test = seasonal_df.loc[seasonal_df["start station id"] == id]
    print(f"For station {id}")
    print(test[["start station latitude", "start station longitude"]].value_counts())
    print("============================")

# get the full list 
check_df = start_station_df.loc[(start_station_df["start station latitude"] != 1) | (start_station_df["start station longitude"] != 1)]
check_list = check_df.index.tolist()

for station in check_list: 
    check_station(station)

For station 167
start station latitude  start station longitude
40.748901               -73.976049                 6282
40.749000               -73.977000                    1
dtype: int64
============================
For station 251
start station latitude  start station longitude
40.72318                -73.9948                   5098
40.72200                -73.9950                      2
dtype: int64
============================
For station 257
start station latitude  start station longitude
40.719392               -74.002472                 5089
40.719000               -74.001000                    1
dtype: int64
============================
For station 267
start station latitude  start station longitude
40.750977               -73.987654                 3790
40.752000               -73.989000                    1
dtype: int64
============================
For station 281
start station latitude  start station longitude
40.764397               -73.973715                 6257
40.764000               -73.974000                    1
dtype: int64
============================
For station 285
start station latitude  start station longitude
40.734546               -73.990741                 11609
40.734000               -73.992000                     1
dtype: int64
============================
For station 293
start station latitude  start station longitude
40.730207               -73.991026                 10030
40.731000               -73.992000                     1
dtype: int64
============================
For station 297
start station latitude  start station longitude
40.734232               -73.986923                 7538
40.734000               -73.986000                    2
dtype: int64
============================
For station 305
start station latitude  start station longitude
40.760958               -73.967245                 5244
40.761000               -73.968000                    1
dtype: int64
============================
For station 316
start station latitude  start station longitude
40.70956                -74.006536                 3028
40.71000                -74.007000                    1
dtype: int64
============================
For station 327
start station latitude  start station longitude
40.715338               -74.016584                 6015
40.716000               -74.016000                    2
dtype: int64
============================
For station 334
start station latitude  start station longitude
40.742388               -73.997262                 6602
40.743000               -73.998000                    1
dtype: int64
============================
For station 335
start station latitude  start station longitude
40.729039               -73.994046                 4500
40.728000               -73.995000                    1
dtype: int64
============================
For station 346
start station latitude  start station longitude
40.736529               -74.00618                  4388
40.737000               -74.00700                     2
dtype: int64
============================
For station 358
start station latitude  start station longitude
40.732916               -74.007114                 10036
40.734000               -74.007000                     1
dtype: int64
============================
For station 359
start station latitude  start station longitude
40.755103               -73.974987                 10674
40.755000               -73.974000                     1
dtype: int64
============================
For station 361
start station latitude  start station longitude
40.716059               -73.991908                 5784
40.716000               -73.992000                    1
dtype: int64
============================
For station 362
start station latitude  start station longitude
40.751726               -73.987535                 3229
40.752000               -73.989000                    2
dtype: int64
============================
For station 379
start station latitude  start station longitude
40.749156               -73.9916                   10549
40.749000               -73.9920                       1
dtype: int64
============================
For station 390
start station latitude  start station longitude
40.692216               -73.984284                 1965
40.692000               -73.983000                    1
dtype: int64
============================
For station 391
start station latitude  start station longitude
40.697601               -73.993446                 3595
40.698000               -73.992000                    1
dtype: int64
============================
For station 401
start station latitude  start station longitude
40.720196               -73.989978                 5642
40.719000               -73.989000                    1
dtype: int64
============================
For station 422
start station latitude  start station longitude
40.770513               -73.988038                 4535
40.770000               -73.989000                    1
dtype: int64
============================
For station 434
start station latitude  start station longitude
40.743174               -74.003664                 3991
40.743000               -74.004000                    1
dtype: int64
============================
For station 448
start station latitude  start station longitude
40.756604               -73.997901                 4880
40.758000               -73.998000                    2
dtype: int64
============================
For station 450
start station latitude  start station longitude
40.762272               -73.987882                 6387
40.761000               -73.989000                    2
dtype: int64
============================
For station 453
start station latitude  start station longitude
40.744751               -73.999154                 7291
40.746000               -73.998000                    1
dtype: int64
============================
For station 459
start station latitude  start station longitude
40.746745               -74.007756                 9973
40.746000               -74.007000                    1
dtype: int64
============================
For station 461
start station latitude  start station longitude
40.735877               -73.98205                  8097
40.737000               -73.98300                     1
dtype: int64
============================
For station 468
start station latitude  start station longitude
40.765265               -73.981923                 9934
40.764000               -73.983000                    2
dtype: int64
============================
For station 474
start station latitude  start station longitude
40.745168               -73.986831                 7060
40.746000               -73.986000                    1
dtype: int64
============================
For station 476
start station latitude  start station longitude
40.743943               -73.979661                 6707
40.743000               -73.980000                    1
dtype: int64
============================
For station 477
start station latitude  start station longitude
40.756405               -73.990026                 11139
40.755000               -73.989000                     1
dtype: int64
============================
For station 478
start station latitude  start station longitude
40.760301               -73.998842                 6717
40.761000               -73.998000                    1
dtype: int64
============================
For station 482
start station latitude  start station longitude
40.739355               -73.999318                 6850
40.740000               -73.998000                    1
dtype: int64
============================
For station 485
start station latitude  start station longitude
40.75038                -73.98339                  4600
40.74900                -73.98300                     2
dtype: int64
============================
For station 487
start station latitude  start station longitude
40.733143               -73.975739                 5708
40.734000               -73.977000                    1
dtype: int64
============================
For station 490
start station latitude  start station longitude
40.751551               -73.993934                 11509
40.752000               -73.995000                     3
dtype: int64
============================
For station 491
start station latitude  start station longitude
40.740964               -73.986022                 8238
40.740000               -73.986000                    2
dtype: int64
============================
For station 494
start station latitude  start station longitude
40.747348               -73.997236                 8121
40.746000               -73.998000                    1
dtype: int64
============================
For station 496
start station latitude  start station longitude
40.737262               -73.99239                  7634
40.737000               -73.99200                     1
dtype: int64
============================
For station 497

start station latitude  start station longitude
40.73705                -73.990093                 13605
40.73700                -73.989000                     1
dtype: int64
============================
For station 503
start station latitude  start station longitude
40.738274               -73.98752                  6453
40.737000               -73.98900                     2
dtype: int64
============================
For station 504
start station latitude  start station longitude
40.732219               -73.981656                 8386
40.731000               -73.983000                    1
dtype: int64
============================
For station 505
start station latitude  start station longitude
40.749013               -73.988484                 11826
40.749000               -73.989000                     1
dtype: int64
============================
For station 508
start station latitude  start station longitude
40.763414               -73.996674                 4456
40.764000               -73.998000                    1
dtype: int64
============================
For station 513
start station latitude  start station longitude
40.768254               -73.988639                 5104
40.767000               -73.989000                    1
dtype: int64
============================
For station 515
start station latitude  start station longitude
40.760094               -73.994618                 5784
40.761000               -73.995000                    1
dtype: int64
============================
For station 517
start station latitude  start station longitude
40.751581               -73.97791                  8146
40.752000               -73.97700                     1
dtype: int64
============================
For station 519
start station latitude  start station longitude
40.751873               -73.977706                 18295
40.752000               -73.977000                     1
dtype: int64
============================
For station 523
start station latitude  start station longitude
40.754666               -73.991382                 9779
40.755000               -73.992000                    1
dtype: int64
============================
For station 525
start station latitude  start station longitude
40.755942               -74.002116                 5747
40.755000               -74.001000                    1
dtype: int64
============================
For station 526
start station latitude  start station longitude
40.747659               -73.984907                 6297
40.749000               -73.986000                    2
dtype: int64
============================
For station 528
start station latitude  start station longitude
40.742909               -73.977061                 7433
40.743000               -73.977000                    1
dtype: int64
============================
For station 545
start station latitude  start station longitude
40.736502               -73.978095                 7025
40.737000               -73.977000                    1
dtype: int64
============================
For station 546
start station latitude  start station longitude
40.744449               -73.983035                 5146
40.743000               -73.983000                    1
dtype: int64
============================
For station 2002
start station latitude  start station longitude
40.716887               -73.963198                 3707
40.716000               -73.962000                    1
dtype: int64
============================
For station 2006
start station latitude  start station longitude
40.765909               -73.976342                 6027
40.767000               -73.977000                    1
dtype: int64
============================
For station 3056
start station latitude  start station longitude
40.690725               -73.951335                 822
40.692000               -73.950000                   1
dtype: int64
============================
For station 3057
start station latitude  start station longitude
40.691283               -73.945242                 1083
40.692000               -73.944000                    1
dtype: int64
============================
For station 3062
start station latitude  start station longitude
40.695398               -73.949549                 683
40.695000               -73.950000                   1
dtype: int64
============================
For station 3077
start station latitude  start station longitude
40.708771               -73.950953                 1547
40.710000               -73.950000                    1
dtype: int64
============================
For station 3092
start station latitude  start station longitude
40.719009               -73.958525                 2815
40.719000               -73.959000                    1
dtype: int64
============================
For station 3093
start station latitude  start station longitude
40.717452               -73.958509                 4904
40.716000               -73.959000                    1
dtype: int64
============================
For station 3100
start station latitude  start station longitude
40.724813               -73.947526                 1597
40.725000               -73.947000                    2
dtype: int64
============================
For station 3106
start station latitude  start station longitude
40.72325                -73.94308                  1684
40.72200                -73.94400                     1
dtype: int64
============================
For station 3107
start station latitude  start station longitude
40.723117               -73.952123                 2391
40.722000               -73.953000                    1
dtype: int64
============================
For station 3110
start station latitude  start station longitude
40.727086               -73.952991                 2206
40.728000               -73.953000                    1
dtype: int64
============================
For station 3113
start station latitude  start station longitude
40.73026                -73.95394                  2235
40.73100                -73.95300                     1
dtype: int64
============================
For station 3122
start station latitude  start station longitude
40.744363               -73.955873                 378
40.743000               -73.956000                   1
dtype: int64
============================
For station 3123
start station latitude  start station longitude
40.744697               -73.935404                 548
40.746000               -73.935000                   1
dtype: int64
============================
For station 3125
start station latitude  start station longitude
40.747086               -73.949772                 1147
40.746000               -73.950000                    2
dtype: int64
============================
For station 3126
start station latitude  start station longitude
40.747182               -73.943264                 1336
40.746000               -73.944000                    1
dtype: int64
============================
For station 3132
start station latitude  start station longitude
40.763505               -73.971092                 3313
40.764000               -73.971000                    1
dtype: int64
============================
For station 3142
start station latitude  start station longitude
40.761227               -73.96094                  5590
40.761000               -73.96200                     1
dtype: int64
============================
For station 3166
start station latitude  start station longitude
40.780578               -73.985624                 2403
40.782000               -73.986000                    1
dtype: int64
============================
For station 3175
start station latitude  start station longitude
40.77748                -73.982886                 4357
40.77600                -73.983000                    1
dtype: int64
============================
For station 3233
start station latitude  start station longitude
40.757246               -73.978059                 6371
40.758000               -73.977000                    1
dtype: int64
============================
For station 3242
start station latitude  start station longitude
40.691029               -73.991834                 2061
40.692000               -73.992000                    1
dtype: int64
============================
For station 3263
start station latitude  start station longitude
40.729515               -73.990753                 8230
40.731000               -73.992000                    1
dtype: int64
============================
For station 3295
start station latitude  start station longitude
40.79127                -73.964839                 3299
40.79100                -73.965000                    1
dtype: int64
============================
For station 3301
start station latitude  start station longitude
40.791956               -73.968087                 4430
40.791000               -73.968000                    1
dtype: int64
============================
For station 3305
start station latitude  start station longitude
40.781122               -73.949656                 2392
40.782000               -73.950000                    1
dtype: int64
============================
For station 3343
start station latitude  start station longitude
40.799757               -73.962113                 926
40.800000               -73.962000                   1
dtype: int64
============================
For station 3345
start station latitude  start station longitude
40.789485               -73.952429                 1437
40.788000               -73.953000                    1
dtype: int64
============================
For station 3350
start station latitude  start station longitude
40.797372               -73.970412                 3034
40.797000               -73.971000                    1
dtype: int64
============================
For station 3367
start station latitude  start station longitude
40.792255               -73.952499                 2152
40.791000               -73.953000                    1
dtype: int64
============================
For station 3374
start station latitude  start station longitude
40.799484               -73.955613                 2659
40.800000               -73.956000                    1
dtype: int64
============================
For station 3382
start station latitude  start station longitude
40.680611               -73.994758                 2160
40.680000               -73.995000                    1
dtype: int64
============================
For station 3443
start station latitude  start station longitude
40.76133                -73.97982                  6284
40.76100                -73.98000                     1
dtype: int64
============================
For station 3542
start station latitude  start station longitude
40.808625               -73.959621                 937
40.809000               -73.959000                   1
dtype: int64
============================
For station 3553
start station latitude  start station longitude
40.801694               -73.957145                 1714
40.803000               -73.956000                    1
dtype: int64
============================

For station 3606
start station latitude  start station longitude
40.74252                -73.948852                 644
40.74300                -73.950000                   1
dtype: int64
============================
For station 3613
start station latitude  start station longitude
40.745038               -73.957539                 702
40.746000               -73.959000                   1
dtype: int64
============================
For station 3630
start station latitude  start station longitude
40.803865               -73.955931                 1320
40.803000               -73.956000                    1
dtype: int64
============================
For station 3656
start station latitude  start station longitude
40.723077               -73.985836                 7020
40.722000               -73.986000                    1
dtype: int64
============================
For station 3668
start station latitude  start station longitude
40.723957               -73.949844                 2189
40.725000               -73.950000                    1
dtype: int64
============================
For station 3690
start station latitude  start station longitude
40.713342               -74.009355                 2490
40.713000               -74.010000                    2
dtype: int64
============================
For station 3711
start station latitude  start station longitude
40.729667               -73.98068                  10875
40.731000               -73.98000                      1
dtype: int64
============================
For station 3715
start station latitude  start station longitude
40.71817                -73.955201                 3488
40.71900                -73.956000                    1
dtype: int64
============================
For station 3759
start station latitude  start station longitude
40.70538                -73.92535                  365
40.70400                -73.92600                    2
dtype: int64
============================
For station 3821
start station latitude  start station longitude
40.70106                -73.93318                  191
40.70100                -73.93200                    1
dtype: int64
============================
For station 3854
start station latitude  start station longitude
40.716657               -73.93637                  128
40.716000               -73.93500                    1
dtype: int64
============================

#### So we would leave the start station as it is, as it would not impact the final conclusion

In [23]:
# below for end station
seasonal_df[["end station id", "end station name","end station latitude", "end station longitude"]].nunique()

end station id           899
end station name         901
end station latitude     930
end station longitude    925
dtype: int64

In [26]:
# For end station, it is similar to start station, with roughly 20 more geocodes availble
# comparing to the scale of data, we also would assume it would not impact the final result

ana_data = seasonal_df.to_csv("Resources/ana_data.csv")